<!-- Navigation bar -->
<nav class="navbar navbar-dark bg-dark" style="background-color: #4c0bce !important">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Dashboard For Employee Crud</a>
        <div class="d-flex">
            <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success" (click)="clickAddEmployee()">
        Add employee
      </button>
        </div>
    </div>
</nav>

<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of employeeData">
            <td>{{ row.id }}</td>
            <td>{{ row.firstName }}</td>
            <td>{{ row.LastName }}</td>
            <td>{{ row.email }}</td>
            <td>
                <button (click)="onEdit(row)" style="color: aliceblue" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Edit
        </button>
                <button (click)="deleteEmployee(row)" class="btn btn-danger mx-3">
          Delete
        </button>
            </td>
        </tr>
    </tbody>
</table>

<!-- addemployee -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="fromValue">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">First Name</label
            >
            <input
              type="text"
              class="form-control"
              formControlName="firstname"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Last name</label
            >
            <input
              type="Lastname"
              class="form-control"
              formControlName="lastname"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
                <button type="button" class="btn btn-primary" *ngIf="showAdd" (click)="postEmployeeDetails()">
          Add
        </button>
                <button type="button" class="btn btn-primary" *ngIf="showUpdate" (click)="updateEmployeeDetails()">
          update
        </button>
            </div>
        </div>
    </div>
</div>